$light: #fafafa;
$light-gray: #d8d8d8;
$magic: 1.618em;

.footnote-container {
  display: inline-block;
  position: relative;
  text-indent: 0;
}

.footnote-backdrop {
  cursor: pointer;
}

.footnote-button {
  background: rgba(110, 110, 110, .2);
  border: 0;
  border-radius: .475em;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: .95em;
  line-height: 0;
  margin: 0 .1em 0 .2em;
  padding: .35em;
  position: relative;
  top: -.2em;
  transition-duration: .25s;
  transition-property: background;
  vertical-align: super;
  width: 1.5em;
  z-index: 5;

  &:after {
    color: rgba(110, 110, 110, .5);
    content: attr(data-fn-number);
    display: block;
    font-size: .57em;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: color .25s ease;
	}

  &:hover {
    background: rgba(110, 110, 110, .5);
    outline: none;

    &:after {
      color: $light;
		}

	}

  &.is-active {
    background: rgba(110, 110, 110, 1);
    transition-delay: .1s;

    &:after {
      color: $light;
		}

	}

}

.littlefoot-footnote {
  background: $light;
  border: 1px solid $light-gray;
  border-radius: .25em;
  left: 0;
  margin: $magic 0;
  max-width: 90vw;
  opacity: 0;
  position: absolute;
  top: 0;
  transform-origin: 50% 0;
  transition-duration: .25s;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 10;

  &.footnote-is-active {
    opacity: .97;
	}

  &.footnote-is-top {
    bottom: 0;
    top: auto; 
	}

}

.footnote-wrapper {
  background: inherit;
  border-radius: .25em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 22em;
  z-index: 14;
}

.footnote-tooltip {
  background: inherit;
  border: 1px solid $light-gray;
  height: 1.3em;
  position: absolute;
  top: -.49em;
  transform: rotate(45deg);
  width: 1.3em;
  z-index: 12;

  .footnote-is-top & {
    bottom: -.49em;
    top: auto;
  }

}

.footnote-content {
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: $magic - .2em;
  max-height: 15em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1em;
  position: relative;
  z-index: 8;

  *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

}
